/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

// TODO: Example border radius utilities and make utility format consistent
.luk-radius {
  border-radius: $border-radius;
}

.luk-radius--pill {
  border-radius: $border-radius-pill;
}

.luk-radius--circle {
  border-radius: $border-radius-circle;
}
