/* stylelint-disable declaration-no-important */
@import "../settings/index.scss";

// TODO: Example border radius utilities and make utility format consistent
// [luk~="rounded"] {
//   border-radius: $border-radius;
// }

[luk~="rounded--pill"] {
  border-radius: $border-radius-pill;
}

[luk~="rounded--circle"] {
  border-radius: $border-radius-circle;
}

[luk~="rounded--none"] {
  border-radius: 0px;
}
[luk~="rounded--sm"] {
  border-radius: 0.125rem;
}
[luk~="rounded"] {
  border-radius: 0.25rem;
}
[luk~="rounded--md"] {
  border-radius: 0.375rem;
}
[luk~="rounded--lg"] {
  border-radius: 0.5rem;
}
[luk~="rounded--xl"] {
  border-radius: 0.75rem;
}
[luk~="rounded--2xl"] {
  border-radius: 1rem;
}
[luk~="rounded--3xl"] {
  border-radius: 1.5rem;
}
[luk~="rounded--full"] {
  border-radius: 9999px;
}
[luk~="rounded--t-none"] {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
[luk~="rounded--t-sm"] {
  border-top-left-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}
[luk~="rounded--t"] {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
[luk~="rounded--t-md"] {
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
[luk~="rounded--t-lg"] {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
[luk~="rounded--t-xl"] {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}
[luk~="rounded--t-2xl"] {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
[luk~="rounded--t-3xl"] {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
[luk~="rounded--t-full"] {
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}
[luk~="rounded--r-none"] {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
[luk~="rounded--r-sm"] {
  border-top-right-radius: 0.125rem;
  border-bottom-right-radius: 0.125rem;
}
[luk~="rounded--r"] {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
[luk~="rounded--r-md"] {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
[luk~="rounded--r-lg"] {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
[luk~="rounded--r-xl"] {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
[luk~="rounded--r-2xl"] {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
[luk~="rounded--r-3xl"] {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
[luk~="rounded--r-full"] {
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}
[luk~="rounded--b-none"] {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
[luk~="rounded--b-sm"] {
  border-bottom-right-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
[luk~="rounded--b"] {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
[luk~="rounded--b-md"] {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
[luk~="rounded--b-lg"] {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
[luk~="rounded--b-xl"] {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
[luk~="rounded--b-2xl"] {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
[luk~="rounded--b-3xl"] {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
[luk~="rounded--b-full"] {
  border-bottom-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
[luk~="rounded--l-none"] {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
[luk~="rounded--l-sm"] {
  border-top-left-radius: 0.125rem;
  border-bottom-left-radius: 0.125rem;
}
[luk~="rounded--l"] {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
[luk~="rounded--l-md"] {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
[luk~="rounded--l-lg"] {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
[luk~="rounded--l-xl"] {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
[luk~="rounded--l-2xl"] {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
[luk~="rounded--l-3xl"] {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
[luk~="rounded--l-full"] {
  border-top-left-radius: 9999px;
  border-bottom-left-radius: 9999px;
}
[luk~="rounded--tl-none"] {
  border-top-left-radius: 0px;
}
[luk~="rounded--tl-sm"] {
  border-top-left-radius: 0.125rem;
}
[luk~="rounded--tl"] {
  border-top-left-radius: 0.25rem;
}
[luk~="rounded--tl-md"] {
  border-top-left-radius: 0.375rem;
}
[luk~="rounded--tl-lg"] {
  border-top-left-radius: 0.5rem;
}
[luk~="rounded--tl-xl"] {
  border-top-left-radius: 0.75rem;
}
[luk~="rounded--tl-2xl"] {
  border-top-left-radius: 1rem;
}
[luk~="rounded--tl-3xl"] {
  border-top-left-radius: 1.5rem;
}
[luk~="rounded--tl-full"] {
  border-top-left-radius: 9999px;
}
[luk~="rounded--tr-none"] {
  border-top-right-radius: 0px;
}
[luk~="rounded--tr-sm"] {
  border-top-right-radius: 0.125rem;
}
[luk~="rounded--tr"] {
  border-top-right-radius: 0.25rem;
}
[luk~="rounded--tr-md"] {
  border-top-right-radius: 0.375rem;
}
[luk~="rounded--tr-lg"] {
  border-top-right-radius: 0.5rem;
}
[luk~="rounded--tr-xl"] {
  border-top-right-radius: 0.75rem;
}
[luk~="rounded--tr-2xl"] {
  border-top-right-radius: 1rem;
}
[luk~="rounded--tr-3xl"] {
  border-top-right-radius: 1.5rem;
}
[luk~="rounded--tr-full"] {
  border-top-right-radius: 9999px;
}
[luk~="rounded--br-none"] {
  border-bottom-right-radius: 0px;
}
[luk~="rounded--br-sm"] {
  border-bottom-right-radius: 0.125rem;
}
[luk~="rounded--br"] {
  border-bottom-right-radius: 0.25rem;
}
[luk~="rounded--br-md"] {
  border-bottom-right-radius: 0.375rem;
}
[luk~="rounded--br-lg"] {
  border-bottom-right-radius: 0.5rem;
}
[luk~="rounded--br-xl"] {
  border-bottom-right-radius: 0.75rem;
}
[luk~="rounded--br-2xl"] {
  border-bottom-right-radius: 1rem;
}
[luk~="rounded--br-3xl"] {
  border-bottom-right-radius: 1.5rem;
}
[luk~="rounded--br-full"] {
  border-bottom-right-radius: 9999px;
}
[luk~="rounded--bl-none"] {
  border-bottom-left-radius: 0px;
}
[luk~="rounded--bl-sm"] {
  border-bottom-left-radius: 0.125rem;
}
[luk~="rounded--bl"] {
  border-bottom-left-radius: 0.25rem;
}
[luk~="rounded--bl-md"] {
  border-bottom-left-radius: 0.375rem;
}
[luk~="rounded--bl-lg"] {
  border-bottom-left-radius: 0.5rem;
}
[luk~="rounded--bl-xl"] {
  border-bottom-left-radius: 0.75rem;
}
[luk~="rounded--bl-2xl"] {
  border-bottom-left-radius: 1rem;
}
[luk~="rounded--bl-3xl"] {
  border-bottom-left-radius: 1.5rem;
}
[luk~="rounded--bl-full"] {
  border-bottom-left-radius: 9999px;
}
