/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-float--left {
  float: left !important;
}

.lds-float--right {
  float: right !important;
}

.lds-float--none {
  float: none !important;
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    .lds-#{$breakpoint}-float--left {
      float: left !important;
    }

    .lds-#{$breakpoint}-float--right {
      float: right !important;
    }

    .lds-#{$breakpoint}-float--none {
      float: none !important;
    }
  }
}

.lds-clearfix {
  @include clearfix;
}
