/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-leading--base {
  line-height: $base-line-height !important;
}

.lds-leading--lead {
  line-height: $lead-line-height !important;
}

.lds-leading--heading {
  line-height: $heading-line-height !important;
}

.lds-leading--reset {
  line-height: $reset-line-height !important;
}
