/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-margin--0
  .lds-m--#{$scale} {
    // Example: margin: 0 !important;
    margin: #{$size} !important;
  }

  .lds-m-top--#{$scale} {
    margin-top: #{$size} !important;
  }

  .lds-m-right--#{$scale} {
    margin-right: #{$size} !important;
  }

  .lds-m-bottom--#{$scale} {
    margin-bottom: #{$size} !important;
  }

  .lds-m-left--#{$scale} {
    margin-left: #{$size} !important;
  }

  .lds-m-x--#{$scale} {
    margin-left: #{$size} !important;
    margin-right: #{$size} !important;
  }

  .lds-m-y--#{$scale} {
    margin-bottom: #{$size} !important;
    margin-top: #{$size} !important;
  }
}


@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-margin--0
  .lds-m--n#{$scale} {
    // Example: margin: 0 !important;
    margin: -#{$size} !important;
  }

  .lds-m-top--n#{$scale} {
    margin-top: -#{$size} !important;
  }

  .lds-m-right--n#{$scale} {
    margin-right: -#{$size} !important;
  }

  .lds-m-bottom--n#{$scale} {
    margin-bottom: -#{$size} !important;
  }

  .lds-m-left--n#{$scale} {
    margin-left: -#{$size} !important;
  }

  .lds-m-x--n#{$scale} {
    margin-left: -#{$size} !important;
    margin-right: -#{$size} !important;
  }

  .lds-m-y--n#{$scale} {
    margin-bottom: -#{$size} !important;
    margin-top: -#{$size} !important;
  }
}


.lds-m--auto {
  margin: auto !important;
}

.lds-m-top--auto {
  margin-top: auto !important;
}

.lds-m-right--auto {
  margin-right: auto !important;
}

.lds-m-bottom--auto {
  margin-bottom: auto !important;
}

.lds-m-left--auto {
  margin-left: auto !important;
}

.lds-m-x--auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.lds-m-y--auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @for $i from 1 through length($spacers) {
      $size: #{nth($spacers, $i)};
      $scale: #{$i - 1};

      // Example: ds-u-sm-margin--0
      .lds-#{$breakpoint}-margin--#{$scale} {
        // Example: margin: 0 !important;
        margin: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-top--#{$scale} {
        margin-top: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-right--#{$scale} {
        margin-right: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-bottom--#{$scale} {
        margin-bottom: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-left--#{$scale} {
        margin-left: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-x--#{$scale} {
        margin-left: #{$size} !important;
        margin-right: #{$size} !important;
      }

      .lds-#{$breakpoint}-margin-y--#{$scale} {
        margin-bottom: #{$size} !important;
        margin-top: #{$size} !important;
      }
    }

    .lds-#{$breakpoint}-margin--auto {
      margin: auto !important;
    }

    .lds-#{$breakpoint}-margin-top--auto {
      margin-top: auto !important;
    }

    .lds-#{$breakpoint}-margin-right--auto {
      margin-right: auto !important;
    }

    .lds-#{$breakpoint}-margin-bottom--auto {
      margin-bottom: auto !important;
    }

    .lds-#{$breakpoint}-margin-left--auto {
      margin-left: auto !important;
    }

    .lds-#{$breakpoint}-margin-x--auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    .lds-#{$breakpoint}-margin-y--auto {
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
  }
}
