/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-margin--0
 [luk~="m--#{$scale}"] {
    // Example: margin: 0 !important;
    margin: #{$size} !important;
  }

 [luk~="m-top--#{$scale}"] {
    margin-top: #{$size} !important;
  }

 [luk~="m-right--#{$scale}"] {
    margin-right: #{$size} !important;
  }

 [luk~="m-bottom--#{$scale}"] {
    margin-bottom: #{$size} !important;
  }

 [luk~="m-left--#{$scale}"] {
    margin-left: #{$size} !important;
  }

 [luk~="m-x--#{$scale}"] {
    margin-left: #{$size} !important;
    margin-right: #{$size} !important;
  }

 [luk~="m-y--#{$scale}"] {
    margin-bottom: #{$size} !important;
    margin-top: #{$size} !important;
  }
}


@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-margin--0
 [luk~="m--n#{$scale}"] {
    // Example: margin: 0 !important;
    margin: -#{$size} !important;
  }

 [luk~="m-top--n#{$scale}"] {
    margin-top: -#{$size} !important;
  }

 [luk~="m-right--n#{$scale}"] {
    margin-right: -#{$size} !important;
  }

 [luk~="m-bottom--n#{$scale}"] {
    margin-bottom: -#{$size} !important;
  }

 [luk~="m-left--n#{$scale}"] {
    margin-left: -#{$size} !important;
  }

 [luk~="m-x--n#{$scale}"] {
    margin-left: -#{$size} !important;
    margin-right: -#{$size} !important;
  }

 [luk~="m-y--n#{$scale}"] {
    margin-bottom: -#{$size} !important;
    margin-top: -#{$size} !important;
  }
}


[luk~="m--auto"] {
  margin: auto !important;
}

[luk~="m-top--auto"] {
  margin-top: auto !important;
}

[luk~="m-right--auto"] {
  margin-right: auto !important;
}

[luk~="m-bottom--auto"] {
  margin-bottom: auto !important;
}

[luk~="m-left--auto"] {
  margin-left: auto !important;
}

[luk~="m-x--auto"] {
  margin-left: auto !important;
  margin-right: auto !important;
}

[luk~="m-y--auto"] {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @for $i from 1 through length($spacers) {
      $size: #{nth($spacers, $i)};
      $scale: #{$i - 1};

      // Example: ds-u-sm-margin--0
     [luk~="#{$breakpoint}-margin--#{$scale}"] {
        // Example: margin: 0 !important;
        margin: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-top--#{$scale}"] {
        margin-top: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-right--#{$scale}"] {
        margin-right: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-bottom--#{$scale}"] {
        margin-bottom: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-left--#{$scale}"] {
        margin-left: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-x--#{$scale}"] {
        margin-left: #{$size} !important;
        margin-right: #{$size} !important;
      }

     [luk~="#{$breakpoint}-margin-y--#{$scale}"] {
        margin-bottom: #{$size} !important;
        margin-top: #{$size} !important;
      }
    }

   [luk~="#{$breakpoint}-margin--auto"] {
      margin: auto !important;
    }

   [luk~="#{$breakpoint}-margin-top--auto"] {
      margin-top: auto !important;
    }

   [luk~="#{$breakpoint}-margin-right--auto"] {
      margin-right: auto !important;
    }

   [luk~="#{$breakpoint}-margin-bottom--auto"] {
      margin-bottom: auto !important;
    }

   [luk~="#{$breakpoint}-margin-left--auto"] {
      margin-left: auto !important;
    }

   [luk~="#{$breakpoint}-margin-x--auto"] {
      margin-left: auto !important;
      margin-right: auto !important;
    }

   [luk~="#{$breakpoint}-margin-y--auto"] {
      margin-bottom: auto !important;
      margin-top: auto !important;
    }
  }
}
