/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-measure--narrow {
  max-width: $measure-narrow !important;
}

.lds-measure--base {
  max-width: $measure-base !important;
}

.lds-measure--wide {
  max-width: $measure-wide !important;
}
