/* stylelint-disable declaration-no-important */

.lds-overflow--hidden {
  overflow: hidden !important;
}

.lds-overflow--scroll {
  overflow: scroll !important;
}

.lds-overflow--auto {
  overflow: auto !important;
}
