/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

@for $i from 1 through length($spacers) {
  $size: #{nth($spacers, $i)};
  $scale: #{$i - 1};

  // Example: ds-u-p--0
  .luk-p--#{$scale} {
    // Example: padding: 0 !important;
    padding: #{$size} !important;
  }

  .luk-p-top--#{$scale} {
    padding-top: #{$size} !important;
  }

  .luk-p-right--#{$scale} {
    padding-right: #{$size} !important;
  }

  .luk-p-bottom--#{$scale} {
    padding-bottom: #{$size} !important;
  }

  .luk-p-left--#{$scale} {
    padding-left: #{$size} !important;
  }

  .luk-p-x--#{$scale} {
    padding-left: #{$size} !important;
    padding-right: #{$size} !important;
  }

  .luk-p-y--#{$scale} {
    padding-bottom: #{$size} !important;
    padding-top: #{$size} !important;
  }
}

@each $breakpoint in map-keys($breakpoints) {
  $value: map-get($breakpoints, $breakpoint);

  @media (min-width: $value) {
    @for $i from 1 through length($spacers) {
      $size: #{nth($spacers, $i)};
      $scale: #{$i - 1};

      // Example: ds-u-sm-p--0
      .luk-#{$breakpoint}-p--#{$scale} {
        // Example: padding: 0 !important;
        padding: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-top--#{$scale} {
        padding-top: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-right--#{$scale} {
        padding-right: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-bottom--#{$scale} {
        padding-bottom: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-left--#{$scale} {
        padding-left: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-x--#{$scale} {
        padding-left: #{$size} !important;
        padding-right: #{$size} !important;
      }

      .luk-#{$breakpoint}-p-y--#{$scale} {
        padding-bottom: #{$size} !important;
        padding-top: #{$size} !important;
      }
    }
  }
}
