$box-shadow-sm: 0 0.125rem 0.25rem var(--color-shadow-sm) !default;
$box-shadow: 0 0.5rem 1rem var(--color-shadow)!default;
$box-shadow-lg: 0 1rem 3rem var(--color-shadow-lg) !default;

[luk~="shadow--sm"] {
  box-shadow: $box-shadow-sm !important;
}
[luk~="shadow"] {
  box-shadow: $box-shadow !important;
}
[luk~="shadow--lg"] {
  box-shadow: $box-shadow-lg !important;
}
[luk~="shadow--none"] {
  box-shadow: none !important;
}
