$box-shadow-sm: 0 0.125rem 0.25rem var(--color-shadow-sm) !default;
$box-shadow: 0 0.5rem 1rem var(--color-shadow)!default;
$box-shadow-lg: 0 1rem 3rem var(--color-shadow-lg) !default;

.lds-shadow--sm {
  box-shadow: $box-shadow-sm !important;
}
.lds-shadow {
  box-shadow: $box-shadow !important;
}
.lds-shadow--lg {
  box-shadow: $box-shadow-lg !important;
}
.lds-shadow--none {
  box-shadow: none !important;
}
