/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-text-decoration--underline {
  text-decoration: underline !important;
}

.lds-text-decoration--line-through {
  text-decoration: line-through !important;
}

.lds-text-decoration--none {
  text-decoration: none !important;
}
