/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-text-transform--uppercase {
  text-transform: uppercase !important;
}

.lds-text-transform--lowercase {
  text-transform: lowercase !important;
}

.lds-text-transform--capitalize {
  text-transform: capitalize !important;
}
