/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.lds-valign--top {
  vertical-align: top !important;
}

.lds-valign--middle {
  vertical-align: middle !important;
}

.lds-valign--bottom {
  vertical-align: bottom !important;
}
