/* stylelint-disable declaration-no-important */
@import '../settings/index.scss';

.luk-valign--top {
  vertical-align: top !important;
}

.luk-valign--middle {
  vertical-align: middle !important;
}

.luk-valign--bottom {
  vertical-align: bottom !important;
}
