/* stylelint-disable selector-class-pattern */
@import '../settings/index.scss';

// To Do: Remove the semantic classes h1, h2, h3, display, title, etc... after deprecating

// Titles and headings
.lds-display,
.lds-title,
.lds-h1,
.lds-h2,
.lds-h3,
.lds-h4,
.lds-h5,
.lds-h6,
.lds-text-heading--5xl,
.lds-text-heading--4xl,
.lds-text-heading--3xl,
.lds-text-heading--2xl,
.lds-text-heading--xl,
.lds-text-heading--lg,
.lds-text-heading--md,
.lds-text-heading--sm {
  line-height: $heading-line-height;
  margin: 0;
}

// Bold title and headings
.lds-display,
.lds-h1,
.lds-h2,
.lds-h3,
.lds-h4,
.lds-text-heading--4xl,
.lds-text-heading--3xl,
.lds-text-heading--2xl,
.lds-text-heading--xl,
.lds-text-heading--lg {
  font-weight: $font-bold;
}

// Headings
.lds-h1,
.lds-h2,
.lds-h3,
.lds-h4,
.lds-h5,
.lds-h6,
.lds-text-heading--3xl,
.lds-text-heading--2xl,
.lds-text-heading--xl,
.lds-text-heading--lg,
.lds-text-heading--md,
.lds-text-heading--sm {
  margin-bottom: 0.5em;
  margin-top: 1.5em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.lds-display,
.lds-text-heading--5xl {
  font-size: $font-size-3xl;

  @media (min-width: $width-sm) {
    font-size: $font-size-4xl;
  }

  @media (min-width: $width-md) {
    font-size: $font-size-5xl;
  }
}

.lds-title,
.lds-text-heading--4xl {
  font-size: $font-size-3xl;
  font-weight: $font-normal;

  @media (min-width: $width-md) {
    font-size: $font-size-4xl;
  }
}

.lds-h1,
.lds-text-heading--3xl {
  font-size: $h1-mobile-font-size;
  font-weight: $font-normal;

  @media (min-width: $width-md) {
    font-size: $font-size-3xl;
  }
}

.lds-h2,
.lds-text-heading--2xl {
  font-size: $font-size-2xl;
}

.lds-h3,
.lds-text-heading--xl {
  font-size: $font-size-xl;
}

.lds-h4,
.lds-text-heading--lg {
  font-size: $font-size-lg;
}

.lds-h5,
.lds-text-heading--md {
  font-size: $font-size-md;
  font-weight: $font-bold;
}

.lds-h6,
.lds-text-heading--sm {
  color: $color-muted;
  font-size: $font-size-sm;
  font-weight: $font-normal;
}

.lds-base--inverse .lds-h6,
.lds-base--inverse .lds-text-heading--sm {
  color: $color-muted-inverse;
}

.lds-text,
.lds-text--lead,
.lds-text-body--lg,
.lds-text-body--md {
  line-height: $base-line-height;
  margin-bottom: 1em;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.lds-text--lead,
.lds-text-body--lg {
  font-size: $font-size-lg;
}

.lds-text,
.lds-text-body--md {
  font-size: $base-font-size;
}

.lds-text-body--sm {
  font-size: $font-size-sm;
}
